:root{
    --color-fondo:rgba(77, 52, 2, 0.977);
}

.contenedor__nav{
    position: fixed;
    z-index: 100000;
    width: 100%;
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__container{
    width: 100%;
    max-width: 1025px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    background-color:var(--color-fondo);

}

.nav__item{
    font-weight: 600;
    color: #ffffff;
}

.logo{
    width: 2rem;
}